body {
  background: url("./imgs/pexels-unknown6user-1657332.jpg") no-repeat center
    center/cover;
  position: relative;
  font-family: "DM Sans", sans-serif;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    22deg,
    rgba(66, 19, 28, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 45%
  );
  z-index: -1;
}

.wrapper {
  min-height: 100vh;
  max-height: 100%;
}

.card {
  cursor: pointer;
}

.card .card-text {
  font-size: 16px;
}
